*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

main{
    background-color: #000;
}

/* NAVBAR */
ul{
    list-style: none;
    padding: 0;
    
}

ul li{
    position: relative;
    
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px;
    z-index: 9999;
    background: transparent;
}


span.menu-icon, span.menu-icon::before, span.menu-icon::after{
    position: absolute;
    display: block;
    border-radius: 1px;
    height: 5px;
    width: 35px;
    background: white;
    content: '';
    z-index: 9999;
}

span.menu-icon::before{
    top: 10px;
}

span.menu-icon::after{
    top:20px;
}


.menu-toggle{
    position: static;
    width: 35px;
    height: 35px;
    padding: 0;
    z-index: 9999;
}


.main-menu{
    position: fixed;
    right: -1000px;
    top:0;
    height: 100%;
    overflow: hidden;
    transition: right 0.5s ease, box-shadow 0.5s ease;
    z-index: 9999;
    background: rgb(0,0,0,0.2);
    backdrop-filter: blur(30px);
    -webkit-backdrop-filter: blur(30px);
}

.main-menu:target{
    right: 0;
    outline: none;
    box-shadow: 3px 0 12px rgba(0,0,0,.25)
}


.main-menu ul{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    text-align: right;
    margin: 0;
    padding: 7em 1em 0;
    min-height: 100%;
    width: 100vw;
    background: none;
    
}

.main-menu a{
    display: block;
    font-family: "bebas neue";
    letter-spacing: 0.1em;
    text-transform: uppercase;
    padding: 1em;
    font-size: 2em;
    color: #fff;
    text-decoration: none;
}

.main-menu .navbar_button{
    text-decoration: none;
    font-family: "bebas neue";
    width: fit-content;
    letter-spacing: 0.1em;
    font-size: 2em;
    color: #fff;
    border-radius: 0.2em;
    padding: 0.75em 1em;
    background-color:#1db954;
    transition: transform 0.2s ease;
}

.main-menu .navbar_button:hover{
        color:#b2e8c5;
    }


.home_link{
    position: static;
    font-family: "bebas neue";
    font-size: 3em;
    color: #fff;
    text-decoration: none;
    z-index: 999999;
}

.link_arrow{
    position: static;
    font-size: 2em;
    color:#fff;
    text-decoration: none;
    z-index: 999999;
}

.main-menu a:hover, .main-menu a:focus{
    color: #848484;
}

.main-menu .menu-close{
    font-family: 'Work Sans', sans-serif;
    font-weight: normal;
    position: absolute;
    font-size: 3em;
    padding: 0.4em;
    right: 0;
    top: 0;
    z-index: 10;
    
}




@media (min-width: 768px){

    header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 80px;
        z-index: 9999;
        background: transparent;
        padding: 0 40px;
    }

    .home_link{
        position: static;
        font-size: 3em;
        z-index: auto;
    }
 

    .menu-toggle, .main-menu .menu-close{
        display: none;
    }

    .main-menu{
        position: static;
        display: flex;
        align-items: center;
        background: none;
        padding: 0;
        height: auto;
        background: none;
        backdrop-filter: none;
        -webkit-backdrop-filter: none;
        
        
    }

    .main-menu ul{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-end;
        gap: 20px;
        padding: 0;
        margin: 0;
        background: none;
    }

    .main-menu ul li{
        display: block;
    }

    

    .main-menu a{
        display: inline-block;
        font-size: 1.25rem;
        padding: 0.5em;
        color: #fff;
        text-decoration: none;
        transition: letter-spacing 0.3s ease;
    }

    .main-menu .navbar_button{
        text-decoration: none;
        font-family: "bebas neue";
        width: fit-content;
        letter-spacing: 0.1em;
        font-size: 1.1em;
        color: #fff;
        border-radius: 0.2em;
        padding: 0.75em 1em;
        background-color:#1db954;
        transition: transform 0.2s ease;
    }

    .main-menu .navbar_button:hover{
        color:#b2e8c5;
    }

    

    
}



/* HERO SECTION */

main{
    background-color: #000;
}

.hero{
    width: 100vw;
    min-height: calc(100vh - 80px);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    
}

.hero_container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    z-index: 999;
    position: relative; 
    
}

.hero_text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    z-index: 999;
}


.hero_text h1{
    font-size: clamp(3.25rem, 7vw, 6rem);
    line-height: 1;
    background: linear-gradient(to right, #dbdbdb, #d4eaee);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: "bebas neue";
    letter-spacing: 0.1em;    
}


.button{
    display: block;
    color: #d1d1d1;
    border: 1px solid #fff;
    width: fit-content;
    padding: 0.75em 1.5em;
    font-size: 1em;
    font-weight: 600;
    border-radius: 0.5em;
    text-decoration: none;
    margin-top: 1em;
    z-index:999;
    transition: transform 0.2s ease;
    font-family: "Inter";
    
}

.button:active{
    transform: scale(0.98);
}

.button:hover{
    transform: scale(1.05);
}




.hero_image{
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -1;
    
}



.hero_image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    filter: blur(12px);

         
}

@media screen and (max-width: 768px){
    .hero_text h1{
        letter-spacing: 0;

    }

}
    




/* WORK SECTION */

.work{
    background-color: #000;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    margin-top: 16vh;
}


.work h1{
    color: rgb(228, 228, 228);
    font-family: "inter";
    width: 100%;
    text-align: center;
    font-size: 2.5em;
    margin-bottom:2em;
}

.number{
    color: #ffffff;
    font-weight: 600;
    
}

.work_outer{
    display: flex;
    justify-content: center;
}

.work_container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(22rem, 100%),28rem));
    gap: 3em;
    max-width: 1600px;
    margin: 0 auto;
    width: 100%;
    justify-content: center;
    padding: 0 2em;
    
    
    
    
}


.work_card{
    
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to top right, #1f1f1f, #33333341);
    aspect-ratio: 4/5;
    height: auto;
    max-width: 28rem;
    
    position: relative;
    
    border-radius: 20px;
    transition: transform 0.2s ease;
    
    
}


.work_card:hover{
    transform: scale(1.05)
}


.card_image{
    max-width: 80%;
    max-height: 60%;
    object-fit: contain;
    margin: 0 auto;
    margin-bottom: 5em;
}


.card_image_2{
    width: 75%;
    height: 55%;
    object-fit: contain;
    margin: 0 auto;
    margin-bottom: 7.5em;
}


.card_content{
    position: absolute;
    display: flex;
    flex-direction: column;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 1.5em;
    gap: 0.2em;
    font-family: "Inter";
    color: #fff;
    
}


.card_content p{
    color:#9f9f9f;
}



.work_button{
    display: block;
    color: #cbcaca;
    background-color: rgb(43, 43, 43);
    text-align: center;
    text-decoration: none;
    width: 100%;
    padding: 0.7em;
    font-size: 1em;
    border-radius: 0.5em;
    z-index:999;
    transition: transform 0.2s ease;
    margin-top: 0.35em;
    font-family: "Inter";
    font-weight: 400;
    font-variation-settings: 'wght' 400;
}



.work_button:active{
    transform: scale(0.98);
}

.work_button:hover{
    background: #373737;
    

}


@media screen and (max-width:768px){

    .work_container{
        width: 95%;
        padding: 0em;
        
        
    }

    .work_card{

        width: 100%;
        max-width: 600px;
        height: auto;
    }

    .work_card:hover{
        transform: none;
    }

    

    

}


@media screen and (max-width: 480px){
    .work_container{
        width: 90%;
    }

    .work_card{
        width: 100%;
        max-width: none;
        margin: 1em auto;
        
    }

    .work h1{
        font-size: 1.7em;
        
    }

    .card_content h2{
        font-size: 1.2em;
    }

    
}





/* CONTACT SECTION*/

.contact{
    background-color: #000;
    height: 100vh;
    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
    
    
}

.contact h2{
    color:#fff;
    font-family: "Inter";
    font-size: 3.5em;
    margin: 0 auto;
    text-align: center;
}

.contact a{
    display: block;
    text-decoration: none;
    width: fit-content;
    height: fit-content;
    color: #000;
    background-color: #fff;
    padding: 18px 40px;
    text-align: center;
    margin: 2em auto;
    font-family: "Inter";
    font-size: 1.5em;
    border-radius: 2em;
    transition: transform 0.2s ease;
    font-weight: 400;
    font-variation-settings: 'wght' 400;
}

.contact a:hover{
    transform: scale(1.05);
    background: #1db954;
    
}

.contact a:active{
    transform: scale(0.98);
}


@media screen and (max-width:768px){
    
    .contact h2{
        font-size:2.5em;
    }
    
    .contact a{
        font-size:1em;
        letter-spacing: 0.06rem;
        
    }
}


/* FOOTER */ 

.footer{
    display: flex;
    flex-direction: column;
    gap:2em;
    margin: 2em auto;

}

.footer_divider{
    border: none;
    height: 2px;
    background: linear-gradient(to right,#848484, #404040);
    min-width: 70vw;
    margin: 4em auto 0 auto;
    
}



.footer_content{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: left;
    color: #404040;
    margin: 0 2em;
    gap: 1em;
    font-family: "Inter";
    font-weight: 300;
    font-variation-settings: 'wght' 300;
    font-size: 1em;
    
}

.socials{
    display:flex;
    flex-direction: row;
    gap: 0.75em;
    font-size: 2em;
    transform: transition 0.2s ease;
}


.socials a{
    color:#404040;
}

.socials a:visited{
    color:#404040;
}

.socials a:hover{
    transform:scale(1.05)
}


.copyright{
    color:#3c3c3c;
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-family: "Inter";
    font-size: 1rem;
    font-weight: 300;
    font-variation-settings: 'wght' 300;
}


    


/* ABOUT PAGE */

.about{
    background-color: #000;
    color: rgb(228, 228, 228);
    margin: 0em 1em;
    padding: 0 1em 8em 1em;
    margin-top: 120px;
    
}

.about h2{
    text-align: center;
    margin-bottom: 2em;
    font-family: "Inter";
    font-size: 2.5em;
}

.about_container{
    display: flex;
    gap: 3em;
    max-width: 1350px;
    margin: 0 auto;
    align-items: center;
    flex-wrap: wrap;
}

.about_texts{
    flex: 1;
    max-width: 600px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 2em;
}

.about_text{
    font-size: 1.2em;
    line-height: 1.4em;
    font-family: "Inter";
    font-weight: 300;
    color: #b0b0b0;
}



.about_image img{
    width: 100%;
    height: auto;
    flex: 1;
    max-width: 600px;
    border-radius: 10px;
    margin: 0 auto;
    
}

@media screen and (max-width: 1200px){
    .about_container{
        flex-direction: column;
        align-items: center;
        gap: 2em;
        margin: 0 auto;
    }

    .about_image{
        order: -1;
        display: flex;
        justify-content: center;
    }

    .about_image img{
        max-width: 600px;
        align-items: center;
        justify-content: center;
        margin: 0 auto;
    }

    .about_text{
        max-width: 600px;
    }

    .about_texts{
        order: 1;
        padding: 0 0.5em;
    
    }
}

@media screen and (max-width: 900px){
    .about{
        padding: 0 0em 8em 0em;
    }

}

/* SKILLS */

.skills{
    max-width:1100px;
    padding: 8em 1em;
    margin: 0 auto;
    padding: 5em 2em;
    text-align: center;
    color: rgb(228, 228, 228);
}

.skills_header{
    color:#fff;
    font-family: "inter";
    font-size: 2em;
    margin-bottom: 2em;
}


.skills_container{
    display:flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1em;
    
    
}

.skills_card{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to top right, #1f1f1f, #33333341);
    border-radius: 1em;
    width: 300px;
    height: 100px;
    color:#d0d0d0;
    font-family: "inter";
    padding: 2em 3em;
    font-size: 1em;
    font-weight: 300;
    transition: transform 0.2s ease;
    
}

.skills_card:hover{
    background: linear-gradient(135deg, #0f3d2e, #178f4e);
}

@media screen and (max-width: 768px){
    .skills_container{
        justify-content: center;
        gap: 0.75em;
    }

    .skills_card{
        flex: 1fr;
        max-width: none;
        width: 100%;
    }

    .skills_card:active{
        background: linear-gradient(135deg, #0f3d2e, #178f4e);
        transform: scale(0.98);
    }

    
}




/* TOOLS */


.tools{
    max-width:1100px;
    padding: 8em 1em;
    margin: 0 auto;
    padding: 5em 2em;
    text-align: center;
    color: rgb(228, 228, 228);
}

.tools_header{
    font-family: "Inter";
    font-size: 2em;
    margin-bottom: 2em;
}

.tools_grid{
    display:grid;
    grid-template-columns: repeat(4,1fr);
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    gap: 2em;
    
}

.tool_card{
    width: 100%;
    max-width: 250px;
    aspect-ratio: 1/1;
    height: 200px;
    background: linear-gradient(135deg, #ebebeb, #cdcdcd);
    border-radius: 1em;
    padding: 1em;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.2s ease;
}

.tool_card:hover{
    transform:scale(1.05);
}

.tool_card img{
    max-width: 80%;
    max-height: 80%;
    height: 100%;
    object-fit: contain;
}

@media screen and (max-width: 900px){
    .tools_grid{
        grid-template-columns: repeat(2,1fr);
        gap: 1.5em;
    }

    .tool_card{
        aspect-ratio: 1/1;
        max-width: none;
        transition: none;
    }

    .tool_card:hover{
        transform: none;
    }
}

@media screen and (max-width: 480px){
    .tools_grid{
        grid-template-columns: 1fr;
    }

    


}



/* ----------- PROJECT JOST PAGE --------------*/

main{
    background-color:#000;
}

body{
    background-color: #000;
}
/*
.project_intro{
    width: 100vw;
    min-height: calc(100vh - 80px);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}


.project_intro_container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 999;
}

.project_intro_text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    z-index: 999;
}

.project_intro h1{
    font-size: clamp(3rem, 6vw, 6rem);
    line-height: 1;
    background: #fff;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family:"bebas neue";
    letter-spacing: 0.1em;
    text-align: center;
    
}

.project_intro h2{
    opacity: 0;
    font-size: 1em;
    background: rgb(231, 231, 231);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family:"bebas neue";
    letter-spacing: 0.1em;
}


.intro_image{
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vw;
    z-index:-1;
}

.intro_image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    height: 100vh;
    filter: blur(12px);
}



@media screen and (max-width: 768px){
    .project_intro h1{
        letter-spacing: 0;
    }
}




/* PROJECT ICONS */
/*
.project_info{
    max-width: 900px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 4em;
    justify-items: center;
    text-align: center;
    margin: 3em auto 0 auto;
}



.info_item{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.info_box{
    
    padding: 1em;
    border-radius: 12px;
    width: 90px;
    background: rgb(0,0,0,0.1);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    transition: transform 0.2s ease;
    
}

.info_box:hover{
    transform: scale(1.05);
    
}

.info_box i{
    font-size: 1.5em;
    color: #fff;
}

.info_box .label{
    color: #fff;
    font-family: "Inter";
    margin-top: 0.5em;
    font-weight: 500;
    font-variation-settings: "wght" 500;
}

.info_item .value{
    margin-top: 0.8em;
    font-size: 1em;
    color:#ffffff;
    font-family: "Inter";
    font-weight: 500;
    font-variation-settings: "wght" 500;
    
    
}

@media screen and (max-width: 768px){
    .project_info{
        grid-template-columns: repeat(2,1fr);
        row-gap: 1.5em;
        column-gap: 5em;
        
    }
}



/* PROBLEM STATEMENT */

/*
.project_cards{
    margin:1em;
}

.problem_statement{
    position: relative;
    color: #fff;
    max-width: 1000px;
    padding: 4em 2em;
    background: linear-gradient(135deg, #6d5dca 0%, #3a2e7a 100%);
    border-radius: 1em;
    transition: transform 0.2s ease;
    margin: 6em auto 2em auto;
}

.problem_statement:hover{
    transform:scale(1.05)
}

.problem_statement h2{
    color: #fff;
    font-family: "Inter";
    font-size: 1.5rem;
    margin-bottom: 1em;
}

.text1{
    color:#d1d1d1;
    font-family: "Inter";
    font-size: 1rem;
    font-weight: 300;
    
}

.text2{
    color: #d1d1d1;
    font-family: "Inter";
    font-size: 1rem;
    margin-top: 2em;
    font-weight: 300;
}

.text3{
    color: #d1d1d1;
    font-family: "Inter";
    font-size: 1rem;
    margin-top: 2em;
    font-weight: 300;
}



/* RESEARCH */
/*
.research{
    position: relative;
    color: #fff;
    max-width: 1000px;
    padding: 4em 2em;
    background: linear-gradient(135deg, #d37c49 0%, #7e3a3a 100%);
    border-radius: 1em;
    transition: transform 0.2s ease;
    margin: 2em auto;
}

.research:hover{
    transform:scale(1.05)
}

.research h2{
    font-size: 1.5rem;
    margin-bottom: 1em;
    font-family: "Inter";
}






/* CONCEPT DEVELOPMENT */
/*
.concept_development{
    position: relative;
    color: #fff;
    max-width: 1000px;
    padding: 4em 2em;
    background: linear-gradient(135deg, #4a9e7f 0%, #2a5b50 100%);
    border-radius: 1em;
    transition: transform 0.2s ease;
    margin: 2em auto;
}

.concept_development:hover{
    transform:scale(1.05)
}

.concept_development h2{
    font-family: "Inter";
    font-size: 1.5rem;
    margin-bottom: 1em;

}


.concept_development ul{
    font-family: "Inter";
    font-size: 1rem;
    color:#d1d1d1;
    margin-left: 1.5em;
    padding-left: 0;
}

.concept_development li{
    font-family: "Inter";
    font-size: 0.95rem;
    line-height: 1.6;
    margin-top: 1em;
    margin-bottom: 0.5em;
    color:#d1d1d1;
    
}


.outcome{
    position: relative;
    color: #fff;
    max-width: 1000px;
    padding: 4em 2em;
    background: linear-gradient(135deg, #6a4c93 0%, #3d3153 100%);
    border-radius: 1em;
    transition: transform 0.2s ease;
    margin: 2em auto;
}

.outcome:hover{
    transform:scale(1.05)
}

.outcome h2{
    font-family: "Inter";
    font-size: 1.5rem;
    margin-bottom: 1em;
}

.outcome ul{
    font-family: "Inter";
    font-size: 1rem;
    color:#d1d1d1;
    margin-left: 1.5em;
    padding-left: 0;
    font-weight: 300;
}

.outcome li{
    font-family: "Inter";
    font-size: 0.95rem;
    line-height: 1.6;
    margin-top: 1em;
    margin-bottom: 0.5em;
    color:#d1d1d1;
}



@media screen and (max-width: 768px){
    .problem_statement:hover, .research:hover, .concept_development:hover, .outcome:hover{
        transform: none;
        
    }
}





/* SIGNS */
/*
.signs{
    min-height: 100vh;
    width:100%;
    max-width: 1100px;
    margin: 0 auto;
    padding: 5em 2em;
    text-align: center;
    color: rgb(228, 228, 228);
}

.signs_header{
    font-family: "Inter";
    font-size: 2em;
    margin-bottom: 2em;
}

.signs_container{
    display:grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2em;
    margin: 1em;
    
}

.signs_card{
    display: flex;
    align-items: center;
    justify-content: center;
    aspect-ratio: 1/1;
    background: linear-gradient(to top right, #1f1f1f, #33333341);
    border-radius: 1em;
    padding: 1em;
    transition: transform 0.2s ease;
}

.signs_card:hover{
    transform:scale(1.05);
}

.signs_card img{
    max-width: 90%;
    max-height: 90%;
    object-fit: contain;
}

@media screen and (max-width: 768px){
    
    .signs{
        padding: 2em 0em;
        max-width: 100%;
    }
    
    .signs_container{
        grid-template-columns: 1fr;
        
    }

    .signs_card{
        width: 100%;
        margin: 0 auto;
        padding: 2em;
        transition: none;
    }

    .signs_card:hover{
        transform: none;
    }

}




/* ------- REGION VÄSTERBOTTEN -------*/

.project{
    display: flex;
    flex:1;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: #fff;
    margin: 0 auto;
    min-height: 100vh;
    padding: 0 3em;
    
}

.project_container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90%;
    margin: 0 auto;
    gap:1em;
}


.project_hero_container, .project_info{
    font-family: "inter";
    width: 80%;
    text-align: left;
    margin: 0 auto;
    
}



.project_hero_container h3{
    
    font-size: 0.9em;
    font-weight: 300;
    background-color: rgb(58, 58, 58);
    width: fit-content;
    padding: 0.5em;
    border-radius: 0.5em;  
}

.project_hero_container h1{
    margin-top: 0.2em;
    font-size:4vw;
    font-weight: 700;
}

.project_hero_container p{
    margin-top: 0.75em;
    font-size: 1.4em;
    font-weight: 300;
    color: grey;
}

.project_info{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 2em;
    column-gap: 1em;
    margin-top: 3em;
    font-family: "inter";
    
    
}


.project_info h3{
    font-size: 1.2em;
    color: grey;
    font-weight: 300;
}

.project_info p{
    font-size: 1.2em;
    color: #ffffff;
    margin-top: 0.3em;
    font-weight: 500;
}

.project_hero_image{
    max-width: 50%;
    position: relative;
    display: flex;
    align-items: center;
    
}

.project_hero_image img{
    max-width:90%;
    height: auto;
    flex: 1;
    margin: 0 auto;
    border-radius: 10px;
    
    
}



@media screen and (max-width: 1400px){
    .project_hero_container h3{
    font-size: 0.8em;
    font-weight: 300;
    background-color: rgb(58, 58, 58);
    width: fit-content;
    padding: 0.5em;
    border-radius: 0.5em;  
}

.project_hero_container h1{
    margin-top: 0.5em;
    font-size:3vw;
    font-weight: 700;
}

.project_hero_container p{
    margin-top: 0.75em;
    font-size: 1em;
    font-weight: 300;
    color: grey;
}

.project_info{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 2em;
    column-gap: 1em;
    margin-top: 3em;
    font-family: "inter";
    
    
}


.project_info h3{
    font-size: 1em;
    color: grey;
    font-weight: 300;
}

.project_info p{
    font-size: 1em;
    color: #ffffff;
    margin-top: 0.3em;
    font-weight: 500;
}
        

}




@media screen and (max-width: 900px){
    .project{
        flex-direction: column;
        align-items: center;
        gap: 3em;
        margin: 5rem 0;
        padding: 0 0em;
    }

    .project_container{
        width: 100%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 0 1rem;
    }

    .project_hero_container, .project_info{
        width: 100%;
        max-width: 900px;
        margin: 0 auto;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        
    }

    

    .project_info{
        display:grid;
        grid-template-columns: repeat(2,1fr);
        row-gap: 2em;
        column-gap: 0em;
        margin-top: 2rem;
        align-items: flex-start;
        max-width: 400px;
        
        
        
        
    }

    .project_hero_image{
        width: 100%;
        max-width: 100%;
        margin: 0 0;
        padding: 0 0rem;
        display: flex;
        justify-content: center;
        align-items: center;
        
    }

    .project_hero_image img{
        width: 100%;
        height: auto;
        display: block;
        
        
    }

    .project_hero_container h3{
    margin-top: 0.7em;
    font-size:1em;
    
    }

    .project_hero_container h1{
    margin-top: 0.4em;
    font-size:2.5em;
    font-weight: 700;
    }

    .project_hero_container p{
    margin-top: 0.75em;
    font-size: 1em;
    font-weight: 300;
    color: grey;
    max-width: 400px;
    }

 
}

@media screen and (min-width: 1800px){
    .project_hero_container h3{
        font-size: 1.1em;
    }
}



/* GOAL SECTION */



.goal{
    
    height: 90vh;
    display: flex;
    flex-direction: row;
    
    align-items: center;
    justify-content:center;
    margin: 0 10em;
    gap: 2em;
    
}


.divider{
    height: 1px;
    max-width: 100%;
    background-color: #222121;
    margin: 0 6em;
}

.goal_text h2{
    color: rgb(255, 255, 255);
    font-family: "inter";
    font-size: 3em;
}

.goal_text p{
    color:#b0b0b0;
    margin-top: 1em;
    font-family: inter;
    font-size: 1.5em;
    font-weight: 300;
    max-width: 70%;
    line-height: 1.4em;
}

.goal_text{
    flex: 1 1 600px;
    min-width: 280px;
    max-width: 1000px;
}


.goal_image{
    flex: 1 1 500px;
    min-width: 280px;
    max-width: 1000px;
}
.goal_image img{
    width: 100%;
    height: auto;
    border-radius: 10px;
    
}
    


@media screen and (max-width: 1600px){
    .goal_text p{
        font-size: 1em;
        
        
    }

    .goal_text h2{
        font-size: 2em;
    }

    .goal_image{
        display: none;
    }
    
}



@media screen and (max-width: 900px){

    .goal_text p{
        max-width: 100%;
        
    }

    
}


@media screen and (max-width: 768px){
    .goal{
        margin: 0 2em;
    }
}











.image_section img{
    max-height: 70vh;
    width: 100%;
    object-fit:cover;
}
    


/* PROBLEM SECTION */

.problem{
    color:#fff;
    font-family: "inter";
    background:#181818;
    padding: 6rem 1.5rem;
    
}

.problem_text{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 1em;
}



.problem_text h2{
    font-size: 2em;
    margin: 0;
}

.problem_text p{
    font-weight: 300;
    color:#b0b0b0;
    margin-top: 1em;
    max-width: 1000px;
    text-align: center;
}


.problem_boxes{
    display: flex;
    flex-direction: row;
    gap:3em;
    justify-content: center;
    
}

.problem_box_1, .problem_box_2, .problem_box_3{
    margin-top: 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to top right, #1f1f1f, #70646441);
    width: fit-content;
    width: 100%;
    max-width: 280px;
    padding: 2em 1.5em;
    border-radius: 15px;
}



.problem_boxes i{
    background:grey;
    padding: 0.5em;
    border-radius: 5px;
    font-size:1.5em;
    
}

.problem_boxes h3{
    font-size: 1em;
    margin-top: 1.5em;
}

.problem_boxes p{
    font-size: 1em;
    font-weight: 300;
    color:#b0b0b0;
    margin-top: 1em;
    text-align: center;
}




@media screen and (min-width: 1600px){

    .problem{
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start; 
        padding: 14rem 3rem;
    }

    

    .problem_text h2{
        font-size: 3rem;
        margin-top: 0;
    }

    .problem_text p{
        font-size: 1.4rem;
        max-width: 1200px;
    }

    .problem_boxes{
        gap: 5rem;
        margin-top: 4rem;
    }

    .problem_box_1, .problem_box_2, .problem_box_3{
        max-width: 360px;
        padding: 3rem 2.5rem;
    }

    .problem_boxes h3{
        font-size: 1.4rem;
        font-weight: 600;
    }

    .problem_boxes p{
        font-size: 1.2rem;
    }

    .problem_boxes i{
        font-size: 2rem;
        padding: 0.5em;
    }
}

@media screen and (max-width: 900px){
    .problem_boxes{
        flex-direction: column;
        align-items: center;
        gap: 0rem;
        
        
    }

    .problem_box_1, .problem_box_2, .problem_box_3{
        max-width: 500px;
    }

    .problem{
        padding: 6rem 1.5rem;
    }
}





/* SOLUTION SECTION */

.solution{
    color:#fff;
    font-family: "inter";
    padding: 6rem 1.5rem;
}

.solution_text{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 0 1em;
    margin-bottom: 4rem;
    
}

.solution_box_1, .solution_box_2, .solution_box_3, .solution_box_4{
    background: linear-gradient(to top right, #1f1f1f, #33333341);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 360px;
    padding: 2em 1.5em;
    border-radius: 15px;
    margin: 0 auto;
    
}

.solution_boxes{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: center;
    column-gap: 1em;
    row-gap: 2em;
    margin: 4rem auto 0 auto;
    max-width: 1700px;
    
   
}

.solution_text h4{
    font-size:1em;
    font-weight: 300;
    background:rgb(44, 44, 44);
    padding: 0.5em 1em;
    border-radius: 5px;
    
    
}

.solution_text h2{
    font-size: 2em;
    margin-top: 0.5em;
}

.solution_text p{
    font-size: 1em;
    font-weight: 300;
    margin-top: 1em;
    color:#b0b0b0;
}

.solution_boxes i{
    font-size: 1.5em;
    background: grey;
    padding: 0.5em;
    border-radius: 5px;
    
}

.solution_boxes h3{
    font-size: 1em;
    margin-top: 2em;
    text-align: center;
}

.solution_boxes p{
    margin-top: 1em;
    font-size: 1em;
    font-weight: 300;
    text-align: center;
    color:#b0b0b0;
}


@media screen and (min-width: 1600px){
    .solution{
        padding: 14rem 3rem;
    }

    .solution_text h2{
        font-size: 3rem;
    }

    .solution_text p{
        font-size: 1.4rem;
        max-width: 1200px;
    }

    .solution_boxes{
        font-size: 2rem;
        
    }

    .solution_box_1, .solution_box_2, .solution_box_3, .solution_box_4{
        padding: 3rem 2.5rem;
    }

    .solution_boxes h3{
        font-size: 1.4rem;
        font-weight: 600;
    }

    .solution_boxes p{
        font-size: 1.2rem;
    }

    .solution_boxes i{
        font-size: 2rem;
    }
}

@media screen and (max-width: 1600px){
    .solution_boxes{
        grid-template-columns: repeat(2,1fr);
        max-width: 800px;
        margin: 4rem auto 0 auto;
    }
}

@media screen and (max-width: 800px){
    .solution_boxes{
        grid-template-columns: 1fr;
    }

    .solution_box_1, .solution_box_2, .solution_box_3, .solution_box_4{
        max-width: 500px;
    }
}

/* DESIGN SECTION */

.design{
    color: #fff;
    font-family: "inter";
    background: #181818;
    padding: 8rem 1em;
    

}


.design_process{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-bottom: 4rem;
}

.design_process h2{
    font-size: 2em;
    margin: 0;
}

.design_process p{
    margin-top: 1em;
    font-size: 1em;
    color: #b0b0b0;
    font-weight: 300;
    max-width: 1000px;
}

.research_text, .ideation_text, .lowfidelity_text, .highfidelity_text{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    text-align: left;
    max-width: 500px;
    

}




.sections h3{
    font-size:1.5em;
    font-weight: 600;
}

.sections p{
    font-size: 1em;
    color: #b0b0b0;
    margin-top: 1em;
}

.sections ul{
    font-size: 1em;
    color:#b0b0b0;
    padding-left: 1.5em;
}

.sections li{
    margin-top: 0.75em;
    list-style-type: disc;
    
}


.research_image_container, .ideation_image_container, .lowfidelity_image_container, .highfidelity_image_container{
    max-width: 500px;
    position: relative;
    display: flex;
    align-items: center;
}

.sections img{
    max-width: 500px;
    height: auto;
    flex: 1;
    margin: 0 auto;
    border-radius: 10px;
}

.research_section, .ideation_section, .lowfidelity_section, .highfidelity_section{
    display: flex;
    align-items: center;
    justify-content: center;
    flex:1;
    gap:3em;
    margin-top: 5em;
}

@media screen and (min-width: 1600px){
    .design{
        padding: 14rem 3rem;
    }

    .design_process h2{
        font-size: 3rem;
    }

    .design_process p{
        font-size: 1.5rem;
        max-width: 1200px;
    }


    .sections h3{
    font-size:1.7em;
    font-weight: 600;
    
    }

    .sections p{
        font-size: 1.2rem;
        line-height: 1.6;
        font-weight: 300;
        margin-bottom: 0rem;
        
    }
    

    .sections ul, .sections li{
        font-size: 1.2rem;
        line-height: 1.5;
        font-weight: 300;
        
    }

    

    .research_image_container, .ideation_image_container, .lowfidelity_image_container, .highfidelity_image_container{
    max-width: 700px;
    position: relative;
    display: flex;
    align-items: center;
    }

    .sections img{
    max-width: 700px;
    height: auto;
    flex: 1;
    margin: 0 auto;
    border-radius: 10px;
    }

    .research_section, .ideation_section, .lowfidelity_section, .highfidelity_section{
    display: flex;
    align-items: center;
    justify-content: center;
    flex:1;
    gap:6rem;
    margin: 10em auto 0 auto;
    max-width: 1600px;
    
    
    
    }
    
}





@media screen and (max-width: 960px){

    .research_section, .ideation_section, .lowfidelity_section, .highfidelity_section{
        flex-direction: column;
    }

    .research_text, .ideation_text, .lowfidelity_text, .highfidelity_text{
        order: 1;
    }

    .research_image_container, .ideation_image_container, .lowfidelity_image_container, .highfidelity_image_container{
        order: 2;
    }

    .sections img{
        max-width: 100%;
        height: auto;
    }

    .sections p{
        font-weight: 300;
    }

    .sections li{
        font-weight: 300;
    }

    
}

/* COMPARISON */


.comparison_wrapper{
    min-height: 100vh;
    padding: 8rem 1em;
    display:flex;
    flex-direction:column;
    align-items: center;
    
}

.comparison_text{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 0 1em;
    font-family: "inter";
    max-width: 1000px;
   
}

.comparison{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8rem;
    margin: 8rem 0;
}


.comparison_container{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    object-fit: contain;
    margin: 0 auto;
      
}



.comparison_text h2{
    font-size: 2em;
    color:#fff;
}

.comparison_text p{
    margin-top: 1em;
    font-size: 1em;
    color: #b0b0b0;
    font-weight: 300;
}

.before, .after{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color:#fff;
    font-family: "inter";
    font-size: 1.5em;
    
}

.before h3, .after h3{
    margin-bottom: 1.5em;
    font-size: 1em;
    color: #5a5a5a;
    
}

/*
.before img, .after img{
    width: 100%;
    max-width: 500px;
    height: auto;
    flex: 1;
    margin: 0 auto;
    border-radius: 10px;
    background: linear-gradient(to top right, #1f1f1f, #33333341);
    padding:1.5em;
}
*/

.before img, .after img{
    width: 80%;
    object-fit: contain;
}







@media screen and (max-width: 1100px){
    
    .comparison{
        column-gap: 10em;
        margin: 8rem 0;
    }
    
    
    .comparison_container{
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        gap: 6rem;
        width: 100%;
        padding: 0 1em;
    }

    

    .before, .after{
        margin: 0 auto;
        width: 100%;
    }

    .before img, .after img{
        width: 100%;
    }

    
   
}





/* RESULT */

.result{
    color:#fff;
    font-family:"inter";
    background: #181818;
    padding: 6rem 1.5rem;
}

.result_text{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 0 1em;
    margin-bottom: 4rem;
}


.result_box_1, .result_box_2, .result_box_3, .result_box_4{
    background: linear-gradient(to top right, #1f1f1f, #33333341);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 360px;
    padding: 2em 1.5em;
    border-radius: 15px;
    margin: 0 auto;
}

.result_boxes{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    column-gap: 1em;
    row-gap: 2em;
    margin: 4rem auto 0 auto;
    max-width: 1700px;
    
}

.result_text{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 0 1em;
    margin-bottom: 4rem;
}

.result_text h4{
    font-size: 1em;
    font-weight: 300;
    background:rgb(44, 44, 44);
    padding: 0.5em 1em;
    border-radius: 5px;
    
}

.result_text h2{
    font-size: 2em;
    margin-top: 0.5em;
}

.result_text p{
    font-size:1em;
    font-weight: 300;
    margin-top: 1em;
    color: #b0b0b0;
    max-width: 1000px;
}

.result_boxes i{
    font-size: 1.5em;
    background:grey;
    padding: 0.5em;
    border-radius: 5px;
}

.result_boxes h3{
    font-size: 1em;
    margin-top:2em;
    text-align: center;
}

.result_boxes p{
    margin-top: 1em;
    font-size: 1em;
    font-weight: 300;
    text-align: center;
    color:#b0b0b0;
}

@media screen and (min-width: 1600px){
    .result{
        padding: 14rem 3rem;
    }

    .result_text h2{
        font-size: 3rem;
    }

    .result_text p{
        font-size: 1.4rem;
        max-width: 1200px;
    }

    .result_box_1, .result_box_2, .result_box_3, .result_box_4{
        padding: 3rem 2.5rem;
    }

    .result_boxes h3{
        font-size: 1.4rem;
        font-weight: 600;
    }

    .result_boxes p{
        font-size: 1.2rem;
    }

    .result_boxes i{
        font-size: 2rem;
    }
}


@media screen and (max-width: 1600px){
    .result_boxes{
        grid-template-columns: repeat(2,1fr);
        max-width: 800px;
        margin: 4rem auto 0 auto;

    }
}

@media screen and (max-width: 800px){
    .result_boxes{
        grid-template-columns: 1fr;
    }

    .result_box_1, .result_box_2, .result_box_3, .result_box_4{
        max-width: 500;
    }
}








.project p, .problem p, .solution p, .design p, .result p, .comparison_text p{
    line-height: 1.3em;
}


.footer_rvb{
    margin: 6rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 8em;
}



.left_container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    color: #fff;
    font-family: "inter";
    max-width: 400px;
}

.connect_text h4{
    font-size: 1.3em;
    margin-bottom: 2em;
    font-weight: 500;
}

.connect_text p{
    font-size: 1em;
    font-weight: 300;
    color:#b4b4b4;
}

.connect_text{
    margin-bottom: 1.5em;
}

.social_links{
    display: flex;
    align-items: center;
    justify-content: center;
    gap:2em;
    color:#b4b4b4;
}

.social_links i{
    font-size: 1.5em;
}

.email, .linked_in{
    display: flex;
    align-items: center;
    justify-content: center;
    gap:0.5em;
    text-decoration: none;
    color:#ffffff;
    transition: 0.2s ease;
}

.email:visited, .linked_in:visited{
    color:#fff;
}

.email:hover, .linked_in:hover{
    color:#5f5f5f;
}


.right_container{
    color: #fff;
    font-family: "inter";
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    max-width: 400px;
    gap: 1.5em;
    
}

.copy{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 0.5em;
    font-weight: 300;
    color:#b4b4b4;
}


.developed{
    font-weight: 300;
    color:#b4b4b4;
}


.nav_footer a{
    color: #fff;
    font-family: "inter";
    text-decoration: none;
    margin-right: 1em;
    color:#b4b4b4;
    transition: 0.2s ease;
}

.nav_footer a:hover{
    color:#5f5f5f;
}

@media screen and (max-width: 900px){

    .footer_rvb{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 6rem 2rem;
        gap: 6em;
    }

    .left_container, .right_container{
        
    }



}


